# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

venvdjango/*

# Ignorer les fichiers .DS_Store générés par macOS
.DS_Store

# Ignorer les migrations de Django
music/migrations/*

# Ignorer le répertoire static
static/
/.idea/.gitignore
/lyrics_game/music/migrations/0006_delete_quizquestion_artist_songs_delete_song.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/SAE6Evol.-application.iml
/.idea/vcs.xml
