{% extends "base.html" %}

{% block title %}Complete the Lyrics Quiz{% endblock %}

{% block content %}
<main>
    <section class="quiz-section">
        <div class="quiz-title">Completer les paroles</div>
        <div class="quiz-content">
            <h2> {{ song_name|safe  }} of {{ singer|safe  }}</h2>
            <p id="lyric-complete" class="lyric-text">{{ lyrics|safe }}</p>
            <form class="quiz-form" id="lyrics-form" method="post">
                {% csrf_token %}
                {{ form.user_input }}
                {{ form.random_word }}
                {{ form.words_around }}
                <input type="submit" value="Submit" s style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            </form>
            {% if result %}
                <p id="lyrics-result" style="color: {{ result_color }};">{{ result }}</p>
                {% if result == 'Correct!' %}
                    <form method="get">
                        <button type="submit">Try another</button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}
